
@model IEnumerable<RpgMVC.Models.PersonagemViewModel>
@{ViewBag.Title = "Personagens"; }
<h2>Relação de Personagens</h2>
<p>
    @Html.ActionLink("Criar Novo Personagem", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Classes)</th>
        <th>@Html.DisplayNameFor(model => model.Disputas)</th>
        <th>@Html.DisplayNameFor(model => model.Vitorias)</th>
        <th>@Html.DisplayNameFor(model => model.Derrotas)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Id)</td>
        <td>@Html.DisplayFor(modelItem => item.Name)</td>
        <td>@Html.DisplayFor(modelItem => item.Classes)</td>
        <td>@Html.DisplayFor(modelItem => item.Disputas )</td>
        <td>@Html.DisplayFor(modelItem => item.Vitorias)</td>
        <td>@Html.DisplayFor(modelItem => item.Derrotas)</td>
        <td>@Html.ActionLink("Editar", "Edit", new { id = item.Id } ) |  
            @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) | 
            @Html.ActionLink("Deletar", "Delete", new { id = item.Id }
            , new {onclick = "return confirm('Deseja realmente deletar este personagem?');"})   |
            @Html.ActionLink("Listar Habilidades", "Index", "PersonagemHabilidades", new { id = item.Id }) |
            @Html.ActionLink("Atribuir Habilidades", "Create", "PersonagemHabilidades", new { id = item.Id, nome = item.Name}) |

            @Html.ActionLink("Restaurar Pontos de Vida", "RestaurarPontosVida", new { id = item.Id}, new { onclick = "return confirm('Deseja realmente restaurar pontos de vida?');"}) |
            @Html.ActionLink("Zerar Ranking", "ZerarRanking", new { id = item.Id}, new { onclick = "return confirm('Deseja realmente zerar o ranking?');"}) 
        </td>    
    </tr>
    }
</table>
@Html.ActionLink("Clique aqui para um embate com armas","Index","Disputas",null,new{@class="btn btn-warning"})
@Html.ActionLink("Clique aqui para um embate com habilidades","IndexHabilidades","Disputas",null,new{@class="btn btn-dark"})
@Html.ActionLink("Clique aqui para um embate em grupo","DisputaGeral","Personagem",null,new{@class="btn btn-danger"})
@Html.ActionLink("Zerar ranking e restaurar vidas","ZerarRankingRestaurarVidas","Personagem",null,new{@class="btn btn-secondary",onclick = "return confirm('Deseja mesmo realizar essa ação?');"})